<script>
    class APIOptions {
        api;
        data;
        success;
        failure;

        constructor(api) {
            this.api = api;
            this.data = undefined;
            this.success = () => {};
            this.failure = () => {};
        }

        static of(api) {
            return new APIOptions(api);
        }

        withApi(api) {
            this.api = api;
            return this;
        }

        withData(data) {
            this.data = data;
            return this;
        }

        withSuccess(success) {
            this.success = success;
            return this;
        }

        withFailure(failure) {
            this.failure = failure;
            return this;
        }
    }
</script>