<script>
    class Supplier {
        supplierId;
        supplierName;
        supplierType;
        supplierCompany;
        supplierDesignation;
        supplierContactNumber;
        supplierEmail;
        supplierAddress;

        constructor() {
            this.supplierId = '';
            this.supplierName = '';
            this.supplierType = '';
            this.supplierCompany = '';
            this.supplierDesignation = '';
            this.supplierContactNumber = '';
            this.supplierEmail = '';
            this.supplierAddress = '';
        }

        setSupplierId(supplierId) {
            this.supplierId = supplierId;
            return this;
        }
        setSupplierName(supplierName) {
            this.supplierName = supplierName;
            return this;
        }
        setSupplierType(supplierType) {
            this.supplierType = supplierType;
            return this;
        }
        setSupplierCompany(supplierCompany) {
            this.supplierCompany = supplierCompany;
            return this;
        }
        setSupplierDesignation(supplierDesignation) {
            this.supplierDesignation = supplierDesignation;
            return this;
        }
        setSupplierContactNumber(supplierContactNumber) {
            this.supplierContactNumber = supplierContactNumber;
            return this;
        }
        setSupplierEmail(supplierEmail) {
            this.supplierEmail = supplierEmail;
            return this;
        }
        setSupplierAddress(supplierAddress) {
            this.supplierAddress = supplierAddress;
            return this;
        }
    }
</script>