<div class="d-flex justify-content-center">
    <div class="spinner-grow text-primary d-none" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-secondary d-none" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-success d-none" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-danger d-none" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-warning d-none" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-info d-none" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-dark d-none" role="status">
      <span class="sr-only">Loading...</span>
    </div>
</div>