<script>
    class EventHandlerService {
        static inputEventHandler(event) {
            if(event.target.matches(`#${ElementId.Supplier.SUPPLIER_LIST_SEARCH}`)) {
                SupplierService.searchSupplier(); 
            }
        }

        static clickEventHandler(event) {
            let supplierDeleteButton = event.target.closest(`button.${ElementClass.Supplier.DELETE_BUTTON}`);
            let supplierEditButton = event.target.closest(`button.${ElementClass.Supplier.EDIT_BUTTON}`);
            let supplierUpdateCancelButton = event.target.closest(`#${ElementId.Supplier.CANCEL_UPDATE_SUPPLIER_BUTTON}`);
            let supplierUpdateButton = event.target.closest(`#${ElementId.Supplier.UPDATE_SUPPLIER_BUTTON}`);

            if(supplierDeleteButton) {
                EventHandlerService.#deleteSupplier(supplierDeleteButton);
            } else if(supplierEditButton) {
                EventHandlerService.#editSupplier(supplierEditButton);
            } else if(supplierUpdateCancelButton) {
                EventHandlerService.#supplierUpdateCancel(supplierUpdateCancelButton);
            } else if(supplierUpdateButton) {
                EventHandlerService.#supplierUpdate(supplierUpdateButton);
            }
        }

        static #deleteSupplier(supplierDeleteButton) {
            let supplier = JSON.parse(supplierDeleteButton.dataset.supplier);
                let options = ConfirmationModalOptions.of()
                                .withTitle("Delete Supplier")
                                .withMessage(`Are you sure you want to delete supplier ${supplier.supplierName} (ID: ${supplier.supplierId})?`)
                                .withCallback(()=>SupplierService.deleteSupplier(supplier.supplierId))
                                .withType(ConfirmationModalOptions.Type.DANGER);
                ConfirmationModal.show(options);
        }

        static #editSupplier(supplierEditButton) {
            let supplier = JSON.parse(supplierEditButton.dataset.supplier);
                let options = ConfirmationModalOptions.of()
                                .withTitle("Edit Supplier")
                                .withMessage(`Are you sure you want to edit supplier ${supplier.supplierName} (ID: ${supplier.supplierId})?`)
                                .withCallback(()=>SupplierService.editSupplier(supplier.supplierId))
                                .withType(ConfirmationModalOptions.Type.WARNING);
                ConfirmationModal.show(options);
        }

        static #supplierUpdate(supplierUpdate) {
            let form = document.getElementsByClassName(`${ElementClass.Supplier.EDIT_SUPPLIER_FORM}`)[0];
            let isValidForm = form.checkValidity();
            if(!isValidForm) {
                form.classList.add('was-validated');
            } else {
                let supplierId = $(`#${ElementId.Supplier.SUPPLIER_ID}`).val();
                let supplierName = $(`#${ElementId.Supplier.SUPPLIER_NAME}`).val();
                let options = ConfirmationModalOptions.of()
                                    .withTitle("Update Supplier")
                                    .withMessage(`Are you sure you want to update supplier ${supplierName} (ID: ${supplierId})?`)
                                    .withCallback(()=>SupplierService.updateSupplier())
                                    .withType(ConfirmationModalOptions.Type.SUCCESS);
                ConfirmationModal.show(options);
            }
        }

        static #supplierUpdateCancel(supplierUpdateCancelButton) {
            let supplierId = $(`#${ElementId.Supplier.SUPPLIER_ID}`).val();
            let supplierName = $(`#${ElementId.Supplier.SUPPLIER_NAME}`).val();
            let options = ConfirmationModalOptions.of()
                                .withTitle("Update Supplier")
                                .withMessage(`Are you sure you want to cancel updating supplier ${supplierName} (ID: ${supplierId})?`)
                                .withCallback(()=>ViewService.loadSupplierListView())
                                .withType(ConfirmationModalOptions.Type.WARNING);
            ConfirmationModal.show(options);
        }
    }
</script>