<script>
    class EventHandlerService {
        static inputEventHandler(event) {
            if(event.target.matches(`#${ElementId.Supplier.SUPPLIER_LIST_SEARCH}`)) {
                SupplierService.searchSupplier(); 
            }
        }

        static clickEventHandler(event) {
            let supplierDeleteButton = event.target.closest(`button.${ElementClass.Supplier.DELETE_BUTTON}`);
            if(supplierDeleteButton) {
                let supplierId = supplierDeleteButton.dataset.supplierId;
                let options = ConfirmationModalOptions.of()
                                .withTitle("Delete")
                                .withMessage(`Are you sure you want to delete supplier with supplier id${supplierId}?`)
                                .withCallback(()=>SupplierService.deleteSupplier(supplierId))
                                .withType(ConfirmationModalOptions.Type.DANGER);
                ConfirmationModal.show(options);
            }
        }
    }
</script>