<script>
    class EventHandlerService {
        static inputEventHandler(event) {
            if(event.target.matches(`#${ElementId.Supplier.SUPPLIER_LIST_SEARCH}`)) {
                SupplierService.searchSupplier(); 
            }
        }

        static clickEventHandler(event) {
            let supplierDeleteButton = event.target.closest(`button.${ElementClass.Supplier.DELETE_BUTTON}`);
            if(supplierDeleteButton) {
                console.log(supplierDeleteButton.dataset.supplier);
                let supplier = JSON.parse(supplierDeleteButton.dataset.supplier);
                let options = ConfirmationModalOptions.of()
                                .withTitle("Delete")
                                .withMessage(`Are you sure you want to delete supplier ${supplier.supplierName} (ID: ${supplier.supplierId})?`)
                                .withCallback(()=>SupplierService.deleteSupplier(supplier.supplierId))
                                .withType(ConfirmationModalOptions.Type.DANGER);
                ConfirmationModal.show(options);
            }
        }
    }
</script>