<script>
    class SupplierService {
        static #supplierList = [];

        static setDataForSupplierSearch() {
            API.getSupplierList(
                dataReturned => {
                    SupplierService.#supplierList = dataReturned.slice();
                    SupplierService.searchSupplier();
                },
                error => {
                    console.error(error);
                    Alert.show(
                        AlertOptions.of()
                            .withTitle("Loading Supplier Error")
                            .withMessage(error.message)
                            .withType(AlertOptions.Type.DANGER)
                    );
                }
            );
        }

        static searchSupplier() {
            let searchInput = document.getElementById(ElementId.Supplier.SUPPLIER_LIST_SEARCH).value;
            let results = DataManipulation.filterData(searchInput, SupplierService.#supplierList);
            let supplierListTable = document.getElementById(ElementId.Supplier.SUPPLIER_LIST_TABLE);
            let template = SupplierService.getTemplate(ElementId.Supplier.SUPPLIER_LIST_ROW_TEMPLATE);

            supplierListTable.innerHTML = "";
            results.forEach(result => {
                let tr = template.cloneNode(true);
                Object.keys(result).forEach(column => {
                    tr.querySelector(`.${column}`).textContent = result[column].toString();
                })
                let deleteButton = tr.querySelector(`.${ElementClass.Supplier.DELETE_BUTTON}`);
                deleteButton.dataset.supplier = JSON.stringify({
                    supplierId: result.supplierId,
                    supplierName: result.supplierName
                });
                supplierListTable.appendChild(tr);
            });
        }

        static deleteSupplier(supplierId) {
            API.deleteSupplier(
                supplierId,
                dataReturned => {
                    SupplierService.setDataForSupplierSearch();
                },
                error => {
                    console.error(error);
                    Alert.show(
                        AlertOptions.of()
                            .withTitle("Supplier Delete Error")
                            .withMessage(error.message)
                            .withType(AlertOptions.Type.DANGER)
                    );
                }
            );
        }

        static getTemplate(templateId) {
            let template = document.getElementById(ElementId.Supplier.SUPPLIER_LIST_ROW_TEMPLATE).content;
            return template.cloneNode(true);
        }
    }
</script>