<script>
    class ViewService {
        static #setHtml(html, id = ElementId.Main.APP) {
            document.getElementById(id).innerHTML = html;
        }

        static #errorHandler(error) {
            console.error(error);
            Alert.show(
                AlertOptions.of()
                    .withTitle("Error")
                    .withMessage(error.message)
                    .withType(AlertOptions.Type.DANGER)
            );
        }

        static #clear() {
            ViewService.#setHtml("");
            Alert.hide();
            Spinner.hide();
        }

        static loadSupplierListView() {
            ViewService.#clear();
            API.loadSupplierListView(
                html => {
                        ViewService.#setHtml(html);
                        SupplierService.setDataForSupplierSearch();
                },
                ViewService.#errorHandler
            );
        }

        static loadAddSupplierView() {
            ViewService.#clear();
            API.loadAddSupplierView(
                ViewService.#setHtml,
                ViewService.#errorHandler
            );
        }

        static loadEditSupplierView() {
            ViewService.#clear();
            API.loadEditSupplierView(
                ViewService.#setHtml,
                ViewService.#errorHandler
            );
        }
    }
</script>