<script>
    class ElementId {
        static get Main() {
            return {
                APP: "app"
            }
        }

        static get Navbar() {
            return {
                HOME_LINK: "home-link",
                SUPPLIER_LIST_LINK: "supplier-list-link",
                ADD_SUPPLIER_LINK: "add-supplier-link",
                EDIT_SUPPLIER_LINK: "edit-supplier-link"
            }
        }

        static get Component() {
            return {
                ALERT: "alert",
                ALERT_TEMPLATE: "alert-template",
                ALERT_MESSAGE: "alert-message",
                CONFIRMATION_MODAL:"confirmation-modal",
                CONFIRMATION_MODAL_TITLE:"confirmation-modal-title",
                CONFIRMATION_MODAL_MESSAGE:"confirmation-modal-message",
                CONFIRMATION_MODAL_BUTTON:"confirmation-modal-button"
            }
        }

        static get Supplier() {
            return {
                SUPPLIER_LIST_SEARCH: "supplier-list-search",
                SUPPLIER_LIST_TABLE: "supplier-list-table",
                SUPPLIER_LIST_ROW_TEMPLATE:"supplier-list-row-template"
            }
        }
    }
</script>