<script>
    class HomeViewService extends ViewService {
        static get FunctionName() {
            let functionName = name => `${HomeViewService.name}.${name}`
            return {
                loadHomeView: functionName(HomeViewService.loadHomeView.name),
            }
        }

        static loadHomeView(filter = FilterHome.of()) {
            HomeViewService.clear();
            API.loadHomeView(
                filter,
                html => {
                    HomeViewService.setHtml(html);
                    HomeService.updateHome();
                },
                HomeViewService.errorHandler
            );
            BrowserHistory.setHistory(
                BrowserHistoryOptions.of()
                    .withFunctionName(HomeViewService.FunctionName.loadHomeView)
            );
        }
    }
</script>