<div class="container jumbotron add-supplier-form">
  <h1 class="text-center">Add New Supplier</h1>

  <div class="form-group">
    <label for="supplier-name">Supplier Name</label>
    <input type="text" class="form-control" id="supplier-name">
  </div>
  
  <div class="form-group">
    <label for="supplier-type">Supplier Type</label>
    <select class="form-control" id="supplier-type">
      <option>Supplier</option>
      <option>Contractor</option>
      <option>Stuff</option>
      <option>Others</option>
    </select>
  </div>
  
  <div class="form-group">
    <label for="supplier-company">Company</label>
    <input type="text" class="form-control" id="supplier-company">
  </div>
  
  <div class="form-group">
    <label for="supplier-designation">Designation</label>
    <input type="text" class="form-control" id="supplier-designation">
  </div>
  
  <div class="form-group">
    <label for="supplier-contact-number">Contact Number</label>
    <input type="text" class="form-control" id="supplier-contact-number">
  </div>
  
  <div class="form-group">
    <label for="supplier-email">Email</label>
    <input type="email" class="form-control" id="supplier-email">
  </div>
  
  <div class="form-group">
    <label for="supplier-address">Address</label>
    <textarea class="form-control" id="supplier-address" rows="3"></textarea>
  </div>
  
  <div class="form-group">
    <button type="button" class="btn btn-outline-success btn-block btn-lg">Update</button>
  </div>
</div>

