<div class="container jumbotron edit-supplier-form">
  <h1 class="text-center">Edit Supplier</h1>
  
  <div class="form-group">
    <label for="supplier-id">Supplier ID</label>
    <input type="text" class="form-control" disabled id="supplier-id" value=<?= data.supplierId ?> >
  </div>

  <div class="form-group">
    <label for="supplier-name">Supplier Name</label>
    <input type="text" class="form-control" id="supplier-name"value=<?= data.supplierName ?> >
  </div>
  
  <div class="form-group">
    <label for="supplier-type">Supplier Type</label>
    <input type="text" class="form-control" id="supplier-type" value=<?= data.supplierType ?> >
  </div>
  
  <div class="form-group">
    <label for="supplier-company">Company</label>
    <input type="text" class="form-control" id="supplier-company" value=<?= data.supplierCompany ?> >
  </div>
  
  <div class="form-group">
    <label for="supplier-designation">Designation</label>
    <input type="text" class="form-control" id="supplier-designation" value=<?= data.supplierDesignation ?> >
  </div>
  
  <div class="form-group">
    <label for="supplier-contact-number">Contact Number</label>
    <input type="text" class="form-control" id="supplier-contact-number" value=<?= data.supplierContactNumber ?> >
  </div>
  
  <div class="form-group">
    <label for="supplier-email">Email</label>
    <input type="email" class="form-control" id="supplier-email" value=<?= data.supplierEmail ?> >
  </div>
  
  <div class="form-group">
    <label for="supplier-address">Address</label>
    <textarea class="form-control" id="supplier-address" rows="3"><?= data.supplierAddress ?></textarea>
  </div>
  
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-outline-success btn-block btn-lg">Update</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-outline-danger btn-block btn-lg">Cancel</button>
    </div>
  </div>
</div>

