<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <?!= include('src/views/css/main.css') ?>

  </head>
  <body>
    <div class="container-fluid">
      <?!= include('src/views/html/components/nav-bar') ?>
      <br/>
      <?!= include('src/views/html/components/alert') ?>
      <div id="app">
        <?!= include('src/views/html/home') ?>
      </div>
    </div>
    <?!= include('src/views/html/components/spinner') ?>
    <?!= include('src/views/html/components/modal') ?>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    
    <!-- Ordering of the includes are important -->
    <!-- Constants -->
    <?!= include('src/views/js/constants/element-class-constants.js') ?>
    <?!= include('src/views/js/constants/element-id-constants.js') ?>
  

    <!-- Models -->
    <?!= include('src/views/js/models/api-options-model.js') ?>
    <?!= include('src/views/js/models/modal-options-model.js') ?>
    <?!= include('src/views/js/models/alert-options-model.js') ?>
    <?!= include('src/views/js/models/supplier-model.js') ?>

    <!-- Lib -->
    <?!= include('src/views/js/lib/common.js') ?>
    <?!= include('src/views/js/lib/common-ui.js') ?>

    <!-- API -->
    <?!= include('src/views/js/api/api.js') ?>

    <!-- Services -->
    <?!= include('src/views/js/services/supplier-service.js') ?>
    <?!= include('src/views/js/services/view-service.js') ?>
    <?!= include('src/views/js/services/event-handler-service.js') ?>

    <!-- Main -->
    <?!= include('src/views/js/main.js') ?>
  </body>
</html>

