<script>
    class Navbar {
        static clickEventHandler(){
            Navbar.#activeStatusEvent();
            Navbar.#homeLinkClickEvent();
            Navbar.#suppliersLinkClickEvent();
            Navbar.#profileUpdateLinkClickEvent();
            Navbar.#settingsLinkClickEvent();
            Navbar.#itemsLinkClickEvent();
            Navbar.#invoicesLinkClickEvent();
        }

        static #activeStatusEvent() {
            $(".nav-item .nav-link").on("click", function(){
                if(this !== $(".nav-link.dropdown-toggle").get(0)) {
                    $(".nav-item").find(".active").removeClass("active");
                    $(this).addClass("active");
                }
            });

            $(".nav-item.dropdown .dropdown-menu .dropdown-item").on("click", function(){
                $(".nav-item").find(".active").removeClass("active");
                $(this).closest('li').find(".nav-link").addClass("active");
            });
        }

        static #homeLinkClickEvent() {
            $(`#${ElementId.Navbar.HOME_LINK}`).bind("click", HomeViewService.loadHomeView);
        }

        static #suppliersLinkClickEvent() {
            $(`#${ElementId.Navbar.SUPPLIERS_LINK}`).bind("click", SuppliersViewService.loadSupplierListView);
        }

        static #profileUpdateLinkClickEvent() {
            $(`#${ElementId.Navbar.PROFILE_UPDATE_LINK}`).bind("click", ProfileViewService.loadUpdateProfile);
        }

        static #settingsLinkClickEvent() {
            $(`#${ElementId.Navbar.SETTINGS_LINK}`).bind("click", SettingsViewService.loadSettingsView);
        }

        static #itemsLinkClickEvent() {
            $(`#${ElementId.Navbar.ITEMS_LINK}`).bind("click", ItemsViewService.loadItemListView);
        }

        static #invoicesLinkClickEvent() {
            $(`#${ElementId.Navbar.INVOICES_LINK}`).bind("click", InvoicesViewService.loadInvoiceListView);
        }
    }
</script>